@import "./gfm.css";
/* @import "http://thomasf.github.io/solarized-css/solarized-dark.min.css"; */
/* @import "src/styles/style.css"; */

body {
  padding: 0 10%;
  margin: 0;
}

div.navbar {
  padding: 8px;
  position: sticky;
  left: 10%;
  top: 0;
  background-color: white;
  border-bottom: 1px solid gray;
}

a[href=""] {
  color: red;
}

